* {
  box-sizing: border-box;
  font-family: Epilogue , sans-serif;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.new-card {
  display: flex;
  height: 100%;
}

.card-add, .card-preview {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
}

.card-add {
  background-color: #fafafa;
}

.card-preview {
  background-color: #023031;
  color: white;
  padding-bottom: 50px;
}

h2 {
  font-size: 28px;
  margin-top: 50px;
}

.card-add h2 {
  margin-bottom: 25px;
}

.card-preview h2 {
  margin-bottom: 70px;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  padding-bottom: 50px;
  width: 22vw;
}

.form-input, .form-select, .form-check {
  display: flex;
  margin: 22px 0;
}

.form-input label, .form-select label {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px 8px 0;
}

.form-check label {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0 5px 10px;

}

.name, .description, .rare {
  flex-direction: column;
}

.attr1, .attr2, .attr3, .image, .trunfo {
  align-items: center;
}

.name input {
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-size: 14px;
  height: 37px;
  padding: 3px 5px 0;
}

.description textarea {
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-size: 14px;
  height: 80px;
  padding: 10px 5px;
}

.attr1 label, .attr2 label, .attr3 label {
  width: 50px;
}

.attr1 input, .attr2 input, .attr3 input, .image input {
  border: 1px solid #29313d;
  border-radius: 2px;
  flex: 1;
  height: 37px;
  padding: 3px 5px 0;
}

.rare select {
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-size: 14px;
  height: 40px;
  padding: 3px 5px 0;
}

.trunfo input {
  border: 1px solid black;
  display: inline-block;
  height: 18px;
  width: 18px;
}

.trunfo input:hover {
  cursor: pointer;
}

form button {
  background-color: #003be5;
  border-radius: 2px;
  border-width: 0;
  color: white;
  font-size: 16px;
  padding: 10px 32px;
}

form button:hover {
  background-color: #0039e59a;
  cursor: pointer;
}

/* Card design */
.outer-bound {
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  height: 549px;
  width: 310px;
}

.middle-bound {
  background-color: #036b52;
  border: 15px solid #036b52;
  border-radius: 10px;
  height: 100%;
}

.inner-bound {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inner-bound h3 {
  background-color: #023031;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 28px;
  font-weight: 700;
  height: 40px;
  line-height: 42px;
  padding: 0 10px;
  text-align: right;
  width: 100%;
}

.img-bound {
  background-color: #023031;
  height: 260px;
  line-height: 0;
  text-align: center;
  width: 100%;
}

.img-bound img {
  background-color: white;
  border-radius: 10px 10px 0 0;
  height: 260px;
  padding: 50px;
}

.inner-bound p {
  font-size: 10px;
  height: 30px;
  margin: 10px 0;
  text-align: justify;
}

.attr {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.attr h4 {
  background-color: #f0f2f5;
  border-radius: 10px 0 0 10px;
  color: #3d495c;
  font-size: 16px;
  margin: 5px 0 5px 5px;
  padding: 5px 10px 3px;
  text-align: left;
  width: 100%;
}

.attr span {
  background-color: black;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 5px 5px 0;
  padding: 5px 10px 3px;
  text-align: center;
  width: 50px;
}
