* {
  box-sizing: border-box;
  font-family: Epilogue , sans-serif;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* ---------- Add Card Section ---------- */
.new-card {
  display: flex;
  height: 100%;
}

.card-add, .card-preview {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
}

.card-add {
  background-color: #fafafa;
  border-bottom: 5px solid #3761a8;
}

.card-preview {
  background-color: #3761a8;
  color: white;
  padding-bottom: 50px;
}

h2 {
  font-size: 28px;
  margin-top: 50px;
}

.card-add h2 {
  margin-bottom: 25px;
}

.card-preview h2 {
  margin-bottom: 70px;
}

.form-container {
  display: flex;
  justify-content: center;
}

/* Form design */
form {
  padding-bottom: 50px;
  width: 22vw;
}

.form-input, .form-select, .form-check {
  display: flex;
  margin: 22px 0;
}

.form-input label, .form-select label {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px 8px 0;
}

.form-check label {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0 5px 10px;

}

.name, .description, .rare {
  flex-direction: column;
}

.attr1, .attr2, .attr3, .image, .trunfo {
  align-items: center;
}

.name input {
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-size: 14px;
  height: 37px;
  padding: 3px 5px 0;
}

.description textarea {
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-size: 14px;
  height: 80px;
  padding: 10px 5px;
}

.attr1 label, .attr2 label, .attr3 label {
  width: 50px;
}

.attr1 input, .attr2 input, .attr3 input, .image input {
  border: 1px solid #29313d;
  border-radius: 2px;
  flex: 1;
  height: 37px;
  padding: 3px 5px 0;
}

.rare select {
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-size: 14px;
  height: 40px;
  padding: 3px 5px 0;
}

.trunfo input {
  border: 1px solid black;
  display: inline-block;
  height: 18px;
  width: 18px;
}

form button {
  background-color: #3761a8;
  border-radius: 2px;
  border-width: 0;
  color: white;
  font-size: 16px;
  padding: 10px 32px;
}

/* Card design */
.outer-bound {
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  height: 549px;
  width: 310px;
}

.middle-bound {
  background-color: #bd3736;
  border: 15px solid #bd3736;
  border-radius: 10px;
  height: 100%;
}

.inner-bound {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inner-bound h3 {
  background-color: #bd3736;
  border-radius: 10px 10px 0 0;
  font-size: 28px;
  font-weight: 700;
  height: 40px;
  line-height: 42px;
  padding: 0 10px;
  text-align: right;
  width: 100%;
}

.img-bound {
  background-color: #bd3736;
  height: 260px;
  line-height: 0;
  text-align: center;
  width: 100%;
}

.img-bound img {
  background-color: white;
  border-radius: 10px 10px 0 0;
  height: 260px;
  padding: 50px;
}

.inner-bound p {
  font-size: 10px;
  height: 30px;
  margin: 10px 5px;
}

.details {
  background-color: #feca1b;
  border-radius: 0 0 10px 10px;
  flex: 1;
  padding: 6px 6px 0;
  width: 260px;
}

.attr {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.attr h4 {
  background-color: #f0f2f5;
  border-radius: 10px 0 0 10px;
  color: #3d495c;
  font-size: 16px;
  margin: 5px 0 5px 5px;
  padding: 5px 10px 3px;
  text-align: left;
  width: 100%;
}

.attr span {
  background-color: black;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 5px 5px 0;
  padding: 5px 10px 3px;
  text-align: center;
  width: 50px;
}

.details h5 {
  display: none;
}

.details > h4 {
  color: black;
  margin-top: 20px;
  text-align: center;
}

.silver .middle-bound {
  background-color: silver;
  border: 15px solid silver;
}

.silver .inner-bound h3 {
  background-color: silver;
}

.silver .img-bound {
  background-color: silver;
}

.silver .details {
  background-color: silver;
}

.gold .middle-bound {
  background-color: gold;
  border: 15px solid gold;
}

.gold .inner-bound h3 {
  background-color: gold;
}

.gold .img-bound {
  background-color: gold;
}

.gold .details {
  background-color: gold;
}

/* ---------- Deck Section ---------- */
.saved-cards {
  display: flex;
  height: 100%;
}

.card-filter, .card-list {
  align-items: center;
  background-color: #fafafa;
  display: flex;
}

.card-filter {
  flex-direction: column;
  width: 33vw;
}

.card-list {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  width: 67vw;
}

.card-filter h2 {
  margin-bottom: 25px;
}

.card-filter p {
  font-size: 18px;
  font-weight: 700;
}

.card-list > div {
  margin: 30px;
  text-align: center;
}

/* Filter design */
.filter-container {
  display: flex;
  flex-direction: column;
  width: 22vw;
}

.typedName, .selectedRare {
  margin-bottom: 0;
}

.typedName input {
  border: 1px solid #29313d;
  border-radius: 6px;
  flex: 1;
  height: 37px;
  padding: 3px 5px 0;
}

.selectedRare select {
  border: 1px solid #29313d;
  border-radius: 6px;
  flex: 1;
  height: 37px;
  padding: 3px 5px 0;
}

.checkedTrunfo input {
  border: 1px solid black;
  display: inline-block;
  height: 18px;
  width: 18px;
}

.checkedTrunfo input:hover {
  cursor: pointer;
}

.card-list button {
  background-color: white;
  border: 3px solid #3761a8;
  border-radius: 2px;
  color: #3761a8;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 32px 8px;
}

/* Pseudoclasses no final do código para atender o Stylelint */
.trunfo input:hover {
  cursor: pointer;
}

form button:disabled {
  background-color: lightgray;
}

.card-list button:hover {
  background-color: #3760a817;
  cursor: pointer;
}

form button:hover:not( [ disabled ] ) {
  background-color: #3760a8c2;
  cursor: pointer;
}

/* adasdadsadsa */
.game {
  background-color: #3761a8;
  text-align: center;
}

.on-game {
  height: 100vh;
}

.game button {
  background-color: #bd3736;
  border: 3px solid #feca1b;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  margin: 40px;
  padding: 10px 32px;
}

.game button:disabled {
  background-color: lightgray;
}

.game button:hover:not( [ disabled ] ) {
  background-color: #bb5151;
  cursor: pointer;
}

.gameplay {
  display: flex;
  justify-content: center;
}

.game-over {
  align-items: center;
}

.game-over button {
  margin-left: 59px;
}

.current-card {
  margin: 80px 20px 0;
}

.outer-remaining {
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  height: 549px;
  margin: 80px 20px 0;
  width: 310px;
}

.inner-remaining {
  background-color: black;
  border: 15px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.inner-remaining img {
  width: 100%;
}
